{% set espccdw_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/espcc-datawriter',
      'service_script_source': 'espcc-datawriter.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('espcc-datawriter:lookup')) %}
