{% set zk_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/zookeeper',
      'service_script_source': 'zookeeper.init.d',
      'service_script_mode': '755',
    }
}, merge=salt['pillar.get']('zookeeper:lookup')) %}
