{% set xd_map = salt['grains.filter_by']({
    'Debian': {
      'profile_localtion': '/etc/profile.d',
      'hsql_service_script': '/etc/init.d/hsqldb',
      'hsql_service_script_source': 'hsqldb.init.d',
      'hsql_service_script_mode': '755',
      'xd_admin_service_script': '/etc/init.d/xd-admin',
      'xd_admin_service_script_source': 'xd-admin.init.d',
      'xd_admin_service_script_mode': '755',
      'xd_container_service_script': '/etc/init.d/xd-container',
      'xd_container_service_script_source': 'xd-container.init.d',
      'xd_container_service_script_mode': '755',
    },
}, merge=salt['pillar.get']('springxd:lookup')) %}
