{% set zabbix = salt['grains.filter_by']({
  'Debian': {
    'version_repo': '2.2',
    'pkg_agent': 'zabbix-agent',
    'service_agent': 'zabbix-agent',
    'config_agent': '/etc/zabbix/zabbix_agentd.conf',
  },
  'default': {
    'pkg_agent': 'zabbix-agent',
    'service_agent': 'zabbix-agent',
    'config_agent': '/etc/zabbix/zabbix_agentd.conf',
  },
}, merge=salt['pillar.get']('zabbix:lookup')) %}
