ServerName {{ fqdn }}
DocumentRoot {{ documentroot }}

<Directory "{{ documentroot }}">
    AllowOverride All
    Options +FollowSymLinks
    Order allow,deny
    Allow from all
    Require all granted
</Directory>

<Directory /content>
    #Options -Indexes
</Directory>
<Directory /assets>
    #Options -Indexes
</Directory>

<IfModule dir_module>
    DirectoryIndex dynamic.html
</IfModule>

<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf|pdf|flv|mp3)$">
    <IfModule mod_expires.c>
        ExpiresActive on
        ExpiresDefault "access plus 8 hours"
        Header set Cache-Control "public"
    </IfModule>
</FilesMatch>

<IfModule log_config_module>

    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common

    <IfModule logio_module>
        # You need to enable mod_logio.c to use %I and %O
        LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
    </IfModule>

    CustomLog "{{ log_dir }}/access_log" common
</IfModule>

<IfModule alias_module>
    ScriptAlias /cgi-bin/ "{{ httpcgiroot }}/cgi-bin/"
</IfModule>

<IfModule cgid_module>
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>

<Directory "{{ httpcgiroot }}/cgi-bin">
    AllowOverride None
    Options None
    Order allow,deny
    Allow from all
</Directory>

<IfModule mime_module>
    TypesConfig /etc/mime.types
    AddType application/x-compress .Z
    AddType application/x-gzip .gz .tgz
</IfModule>


{% for value in grains['roles'] %}
{% if value == 'mbui' %}
<VirtualHost *:80>
    DocumentRoot "{{ desktoproot }}"
    ServerPath "/desktop"
    ServerName {{ fqdn }}
    LogLevel {{ loglevel }}
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    ErrorLog "{{ log_dir }}/desktop-error_log"
    CustomLog "{{ log_dir }}/desktop-access_log" common
    Header add Apache-VHost "Desktop"
    <Directory "{{ desktoproot }}">
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !dynamic
        RewriteRule (.*) dynamic.html [L]
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "{{ mobileroot }}"
    ServerPath "/mobile"
    ServerName {{ fqdn }}
    LogLevel {{ loglevel }}
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    ErrorLog "{{ log_dir }}/mobile-error_log"
    CustomLog "{{ log_dir }}/mobile-access_log" common
    Header add Apache-VHost "Mobile"
    <Directory "{{ mobileroot }}">
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !dynamic
        RewriteRule (.*) dynamic.html [L]
    </Directory>
</VirtualHost>
{% endif %} 
{% endfor %}