{% set espccdr_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/espcc-datareader',
      'service_script_source': 'espcc-datareader.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('espcc-datareader:lookup')) %}
