{% set xdcmapperapi_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/xdc-mapper-api',
      'service_script_source': 'xdc-mapper-api.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('xdc-mapper-api:lookup')) %}
