{% set xdclegacyapi_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/xdc-legacy-api',
      'service_script_source': 'xdc-legacy-api.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('xdc-legacy-api:lookup')) %}
