{% set bpns_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/bp-notification-service',
      'service_script_source': 'bp-notification-service.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('bp-notification-service:lookup')) %}
