{% set kf_map = salt['grains.filter_by']({
    'Debian': {
      'profile_localtion': '/etc/profile.d',
      'service_script': '/etc/init.d/kafka',
      'service_script_source': 'kafka.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('kafka:lookup')) %}
