{% set redis_map = salt['grains.filter_by']({
    'Debian': {
      'profile_localtion': '/etc/profile.d',
      'redis_service_script': '/etc/init.d/redis',
      'redis_service_script_source': 'redis.init.d',
      'redis_service_script_mode': '755',
      'sentinel_service_script': '/etc/init.d/sentinel',
      'sentinel_service_script_source': 'sentinel.init.d',
      'sentinel_service_script_mode': '755'
    },
}, merge=salt['pillar.get']('redis:lookup')) %}