{% set apache_map = salt['grains.filter_by']({
    'Debian': {
        'server': 'apache2',
        'service': 'apache2',
        'configfile': '/etc/apache2/apache2.conf',

        'mod_wsgi': 'libapache2-mod-wsgi',
        'mod_php5': 'libapache2-mod-php5',
        'mod_fcgid': 'libapache2-mod-fcgid',

        'vhostdir': '/etc/apache2/sites-available',
        'confdir': '/etc/apache2/conf.d',
        'confext': '.conf',
        'default_site': 'default',
        'default_site_ssl': 'default-ssl',
        'logdir': '/var/log/apache2',
        'wwwdir': '/srv',
        'use_require': False,
    }, 
}, merge=salt['pillar.get']('apache:lookup')) %}