{% set espccapi_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/espcc-api',
      'service_script_source': 'espcc-api.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('espcc-api:lookup')) %}
