{% set amq_map = salt['grains.filter_by']({
    'Debian': {
      'profile_localtion': '/etc/profile.d',
      'service_script': '/etc/init.d/activemq',
      'service_script_source': 'activemq.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('activemq:lookup')) %}
