{% set gf_map = salt['grains.filter_by']({
    'Debian': {
      'profile_localtion': '/etc/profile.d',
      'service_script': '/etc/init.d/glassfish',
      'service_script_source': 'glassfish.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('glassfish:lookup')) %}
