{% set tc_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/tomcat',
      'service_script_source': 'tomcat.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('tomcat:lookup')) %}
