{% set espccrm_map = salt['grains.filter_by']({
    'Debian': {
      'service_script': '/etc/init.d/espcc-rulesmanager',
      'service_script_source': 'espcc-rulesmanager.init.d',
      'service_script_mode': '755',
    },
}, merge=salt['pillar.get']('espcc-rulesmanager:lookup')) %}
