{% set rmq_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'rabbitmq-server',
        'service': 'rabbitmq-server',
        'conf': '/etc/rabbitmq/rabbitmq.config',
        'sslpath': '/etc/rabbitmq/ssl/',
        'cookie_file': '/home/rabbitmq/.erlang.cookie', 
    },
}, merge=salt['pillar.get']('rabbitmq:lookup')) %}
